/* App.css */
:root {
  --nav-height: 80px;
  --bg-dark: #050505;
}

* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: white;
  overflow: visible; /* We handle scrolling inside the components */
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
}